#background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fira Mono', 'Source Code Pro', Hack, 'DejaVu Sans Mono', monospace;
  font-size: 15vw;
  text-align: center;
  color: #fff;
  &::before {
    content: '#';
    opacity: .25;
  }
}
